mixin card-light(link, imgSrc, title, price)
	a(href="#!"+ link).card-light
		.card-light__img
			img(src="./img/products/"+ imgSrc +".jpg", width="100" height="100" alt="img")
		.card-light__text !{title}
		.card-light__price
			span.price-box !{price} грн

mixin benefitCard(svg, title, text)
	.benefit-card
		.benefit-card__icon
			svg(class="svg-ben"+ svg)
				use(href="./img/svgSprite.svg#svg-ben"+ svg)

		.benefit-card__text
			.text-bold !{title}
			p !{text}

mixin pc(img,img2, title, stock, stars, price)
	//=== карточка продукта =======
	.product-card
		.pc__header
			//=====лейблы по ховеру ====
			.label-block
				.label.label-hit
					span Топ
				.label.label-pop
					span Популярный
				.label.label-new
					span Новинка
			
			//=====картинки: одна видна сразу, втора\ появляется по ховеру на карточку ====
			.pc__img
				img.main-img(src="./img/products/phone"+ img +".jpg", width="200" height="200" alt="alt")
				
				img.hover-img(src="./img/products/phone"+ img2 +".jpg", width="200" height="200" alt="alt")
				
		.pc__info

			.pc__body
				a(href="#!").pc__name !{title}
				if stock == 'in'
					.pc__stock.instock
						span Есть в наличии
				else
					.pc__stock.outstock
						span Нет в наличии
				.pc__art 696681
				.pc__rating
					//=== красные звездочки рейтинга закрашиваются по скрипту в main.js , который задает им ширину в соответствии с атрибутом data-rating========
					.star-rating(data-rating=""+ stars)
						span.stars-passive &#9733;&#9733;&#9733;&#9733;&#9733;
						span.stars-active &#9733;&#9733;&#9733;&#9733;&#9733;
					.star-rating__val #{stars}
			//===== футер карточки ======
			.pc__footer
				.pc__price 38 499 грн
				
				.pc__btn
					//=== иконки, на десктоп версии стоят абсолютом, на моб версии слева от кнопки Купить=========
					.pc__links-wrapper
						object
							.pc__links
								a(href="#!")
									span.quick-view
								if stock == 'in'
									a(href="#!").tooltip-box
										.tooltip-text Купить в 1 клик
										span.quick-bay
								a(href="#!").tooltip-box
									.tooltip-text В закладки
									span.icon-favorite
								a(href="#!").tooltip-box
									.tooltip-text В сравнение
									span.icon-compare
					
					.btn
						svg.svg-cart
							use(href="./img/svgSprite.svg#svg-cart")